main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  max-width: 700px;
}

menu {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  $active-color: orange;
  $active-bg: mediumvioletred;
  $inactive-color: #d18ed1;
  $inactive-bg: #c175c1;
  $pending-color: #aa6e00;
  $pending-bg: #a61573;

  @mixin pressable-button($for-animation: 0) {
    border-style: outset;
    color: $active-color;
    background: $active-bg;
    @if $for-animation != 1 {
      &:active {
        border-style: inset;
      }
    }
  }

  @mixin just-pressed-button {
    animation: button-press 0s;
    animation-delay: .15s;
    animation-fill-mode: forwards;
    @include pressable-button;
    border-style: inset;
  }

  @mixin inactive-button {
    border-style: solid;
    color: $inactive-color;
    background: $inactive-bg;
  }

  button {
    font-size: 36px;
    color: $active-color;
    background: $active-bg;
    border: 10px solid violet;
    text-transform: uppercase;
    width: 200px;
    height: 80px;
    font-weight: bold;
    letter-spacing: 2px;
    &.start {
      @include pressable-button;
    }
    &.stop {
      @include inactive-button;
    }
  }
  &.spinning {
    button {
      &.start {
        @include just-pressed-button;
      }
      &.stop {
        @include pressable-button;
      }
    }
    &.stopping {
      button {
        &.stop {
          @include just-pressed-button;
        }
      }
    }
  }

  @keyframes button-press {
    from {
      @include pressable-button(1);
    }
    to {
      @include inactive-button;
    }
  }
}
