:host {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  aspect-ratio: 1;
  border: 20px solid #aa23d1;
  background: #b7d597;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  gap: 10px;
}
