<div class="machine-reels-container">
  <div class="machine-reels">
    <div class="machine-reel" *ngFor="let reel of reelPositions; let i = index">
      <app-machine-reel-item *ngFor="let item of reel" [type]="item[0]" [style.top]="item[1] + '%'"></app-machine-reel-item>
    </div>
  </div>
</div>

<div id="debug">
  <div>
    <div *ngFor="let reel of reelPositions; let i = index">
      <h2>Reel {{i + 1}}</h2>
      <div class="reel-items" *ngFor="let item of reel">
        <div>Type: {{item[0]}}</div>
        <div>Value: {{item[1] | number:'1.000'}}</div>
      </div>
    </div>
  </div>
</div>
