.machine-reels-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 20px solid #c11d5d;
  box-sizing: content-box;
}

#debug {
  position: absolute;
  top: -56px;
  left: calc(100% + 30px);
  width: 200px;
  text-align: left;
  font-family: monospace;
  button {
    float: right;
    font-size: 22px;
    border: none;
    cursor: pointer;
  }
  table {
    width: calc(100% - 6px);
    margin: 0 3px;
  }
  th {
    width: 85px;
  }
  &.shown {
    button {
      transform: rotate(180deg);
      margin-bottom: 5px;
    }
  }
  .debug-content {
    clear: both;
    display: none;
    background: white;
    padding-top: 1px;
  }
  &.shown {
    .debug-content {
      display: block;
    }
  }
  h2 {
    padding: 3px;
    margin: 3px;
    font-size: 14px;
    color: #912600;
    background: #cccccc;
    border: 1px outset orangered;
  }
  h3 {
    padding: 3px;
    margin: 0 3px;
    font-size: 12px;
    color: #912600;
    background: #fdccc6;
  }
  .reel-items {
    padding: 3px;
  }
}

$border-color: black;

.machine-reels {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top: 15px solid $border-color;
  border-bottom: 15px solid $border-color;
  background: grey;
}

$border-color: rgb(163, 147, 147);

.machine-reel {
  box-sizing: border-box;
  position: absolute;
  top: -33.333%;
  width: calc(100% / 3 - 20px);
  height: 133.333%;
  overflow: hidden;
  background: white;
  border-left: 3px solid black;
  border-right: 3px solid black;
  &.reel-1 {
    left: 0;
  }
  &.reel-2 {
    left: calc((100% / 3 + 10px) * 1);
  }
  &.reel-3 {
    left: calc((100% / 3 + 10px) * 2);
  }
  &.reel-4 {
    left: calc((100% / 3 + 10px) * 3);
  }
  &.reel-5 {
    left: calc((100% / 3 + 10px) * 4);
  }
  > app-machine-reel-item {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 20%;
    transform: translateY(-50%);
  }
}
