.machine-reels-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 20px solid #c11d5d;
  box-sizing: content-box;
}

#debug {
  position: absolute;
  top: 0;
  left: calc(100% + 30px);
  width: 150px;
  text-align: left;
  button {
    float: right;
    font-size: 22px;
    border: none;
    cursor: pointer;
  }
  table {
    width: 100%;
  }
  &.shown {
    button {
      transform: rotate(180deg);
      margin-bottom: 5px;
    }
  }
  .debug-content {
    clear: both;
    display: none;
  }
  &.shown {
    .debug-content {
      display: block;
    }
  }
  h2 {
    padding: 3px;
    margin: 0;
    font-size: 14px;
    color: #912600;
    background: #cccccc;
    border: 1px outset orangered;
  }
  .reel-items {
    padding: 3px;
    border: 1px solid orangered;
    background: white;
    font-family: monospace;
  }
}

$border-color: black;

.machine-reels {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-top: 15px solid $border-color;
  border-bottom: 15px solid $border-color;
  background: grey;
}

$border-color: rgb(163, 147, 147);

.machine-reel {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: calc(100% / 3 - 20px);
  height: 100%;
  overflow: hidden;
  background: white;
  border-left: 3px solid black;
  border-right: 3px solid black;
  &:nth-child(1) {
    left: 0;
  }
  &:nth-child(2) {
    left: calc((100% / 3) + 10px);
  }
  &:nth-child(3) {
    left: calc(((100% / 3) + 10px) * 2);
  }
  > app-machine-reel-item {
    position: absolute;
    left: 5%;
    width: 90%;
  }
}
