<div class="machine-reels">
  <div class="machine-reel" [style.--top-pos]="reelOneTopPos + '%'">
    <app-machine-reel-item [type]="'orange'"></app-machine-reel-item>
    <app-machine-reel-item [type]="'grapes'"></app-machine-reel-item>
    <app-machine-reel-item [type]="'lemon'"></app-machine-reel-item>
  </div>
  <div class="machine-reel" [style.--top-pos]="reelTwoTopPos + '%'">
    <app-machine-reel-item [type]="'orange'"></app-machine-reel-item>
    <app-machine-reel-item [type]="'grapes'"></app-machine-reel-item>
    <app-machine-reel-item [type]="'lemon'"></app-machine-reel-item>
  </div>
  <div class="machine-reel" [style.--top-pos]="reelThreeTopPos + '%'">
    <app-machine-reel-item [type]="'orange'"></app-machine-reel-item>
    <app-machine-reel-item [type]="'grapes'"></app-machine-reel-item>
    <app-machine-reel-item [type]="'lemon'"></app-machine-reel-item>
  </div>
</div>
